.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #ccc; */
    width: 100%;
    box-shadow: -5px -5px 15px #ccc;
}

#light .footer {
    background-color: #fff;
}

#dark .footer {
    background-color: var(--background-color-dark);
    box-shadow: -5px -5px 15px #888888;
}