* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.container {
  display: flex;
}

:root {
  --background-color-light: #1976d3;
  --background-body-color-light: #e4f2fd;
  --background-color-dark: #4d4c4c;
  --background-body-color-dark: #282c34;
}


#light .container {
  background-color: var(--background-color-light);
}

#dark .container {
  background-color: var(--background-color-dark);
}

.nav {
  display: flex;
  padding: 1em;
  font-weight: bold;
  justify-content: space-between;
  width: 100vw;
  font-size: 1.5em;
}

#light .nav {
  color: #fff;
}

#dark .nav {
  color: #000;
}

.navBurger {
  display: none;
}

.burgerIcon {
  display: none;
}

.navLeft {
  display: flex;
  gap: 1.5em;
}

.navRight {
  display: flex;
  gap: 1.5em;
}

.nav :hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

#light ul div li {
  color: #fff;
}

#dark ul div li {
  color: #fff;
}

.link:visited {
  color: #fff;
}

.userImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.rightNavImgAndLogout {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.rightNavLogContainer {
  display: flex;
  gap: 1.5em;
}

@media screen and (max-width: 1100px) {
  .nav {
    display: none
  }

  .burgerIcon {
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    font-size: 24px;
    width: 1.5rem;
    height: 1.5rem;
  }

  .burgerIcon:hover .navBurger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    justify-content: space-between;
    width: 6rem;
    font-size: 1rem;
    position: absolute;
    left: 0;
  }

  #light .burgerIcon:hover .navBurger {
    background-color: var(--background-color-light);
    color: #fff;
  }

  #dark .burgerIcon:hover .navBurger {
    background-color: var(--background-color-dark);
    color: #fff;
  }



  .navLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .rightNavImgAndLogout {
    display: flex;
    flex-direction: column;
  }

  .rightNavLogContainer {
    display: flex;
    flex-direction: column;
  }

}